* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001f3f;
  padding: 12rem;
}

.container {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* First Line  */
.names {
  display: flex;
  justify-content: space-between;
}

.first {
  display: flex;
  width: 100%;
}

.input-box {
  flex: 1;
  margin: 1.5rem;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 550;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ead8b1;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
}

/* Second Line */

.contacts {
  display: flex;
  justify-content: space-between;
}

.second {
  display: flex;
  width: 100%;
}

/* Third Line */

.passWord {
  display: flex;
  justify-content: space-between;
}

.third {
  display: flex;
  width: 100%;
}

/* Forth Line */
.gender {
  margin-top: 20px;
}

.input-box {
  margin-bottom: 1.5rem;
}

.gender-options {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.gender-options .gender-btn {
  width: 20px;
  margin-right: 10px;
}

.gender-options .gender-type {
  font-size: 18px;
  font-weight: 400;
}

.gender-options .gender-type {
  padding-right: 180px;
}

/* Button */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 15px 20px;
  background-color: #ead8b1;
  color: #000;
}

button {
  background-color: #ead8b1;
  border: none;
}
